#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad
*.dbmdl

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Project files
[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*

#NuGet
packages/

#Logging
*.log.txt

#code coverage reporting
*coverage.xml
coveragereport/
allTests

#jedit temp files
*~
\#*\#

#Temp packaging files
Simplicity/PackageDir/*
Simplicity/Simplicity.Publish.xml

#module file shouldn't be tracked
.gitmodules

#original files from merges shouldn't be tracked
*.orig

App_Data/